body {
	background-color: powderblue;
	text-align: center;
	font-family: verdana;
}

h1{
	background-color: powderblue;
	color: red;

}
#pamplemousse {
	background-color: lightsalmon;
	color: navajowhite;
		font-size: 40px;
	padding: 30px;
	margin:20px;
}
